a {
    text-decoration: none;
}

.leaveMessage {
    cursor: pointer;
    max-width: 5em;
}

.fa-comment {
    color: gray;
}

.icon-up {
    color: lightgray;
}

.fa-comment:hover {
    color: steelblue;
}

.slide {
    cursor: pointer;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  