
table, th, td {
  border: 1px solid black;;
}

.FileSearch, .FileNew {
  display: inline;
}

.FileSelected {
  background-color:cyan;
}

.FileDisabled .FileName {
  color: gray;
}

.FileActions {
  display: none;
}

.FileSelected .FileActions {
  display: block;
}

.FileHeader th {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
}

.FileTable { margin: 0 auto; }

body { text-align: center; }
