
table, th, td {
  border: 1px solid black;;
}

.FileSearch, .FileNew {
  display: inline;
}

.FileActions {
  display: none;
}

.FileActions.FileSelected {
  display: block;
}

.FileRow.FileSelected {
  background-color:cyan;
}
