svg.draggable {
    cursor: move;
}

/* hide ugly datalist arrow down */
input::-webkit-calendar-picker-indicator {
    color: white;
}

svg text {
    -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

svg:focus {
    outline: none;
}

rect:focus {
    outline: none;
}

.form-floating:not(:placeholder-shown) {
    color: silver !important;
}

.edgeTop, .edgeBottom {
    cursor: ns-resize
}

.edgeLeft, .edgeRight {
    cursor: ew-resize
}

.edgeTopRight, .edgeBottomLeft {
    cursor: nesw-resize
}

.edgeTopLeft, .edgeBottomRight {
    cursor: nwse-resize
}

.monacoTab {
    display: flex;
    flex-flow: column;
    height: calc(100vh - 16em);
}

.monacoEditor {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
}