table.items {
    display: flex;
    flex-flow: column;
    height: calc(100vh - 10em);
}

table.items thead {
    flex: 0 0 auto;
}

table.items tbody {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

table.items tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

svg.draggable {
    cursor: move;
}

/* hide ugly datalist arrow down */
input::-webkit-calendar-picker-indicator {
    color: white;
}

svg text {
    -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.form-floating:not(:placeholder-shown) {
    color: silver !important;
}
