table.items {
    display: flex;
    flex-flow: column;
    height: calc(100vh - 10em);
}

table.items thead {
    flex: 0 0 auto;
}

table.items tbody {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

table.items tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

svg.draggable {
    cursor: move;
}