@font-face {
    font-family: "RobotoBlack";
    src: local("RobotoBlack"), url("./fonts/Roboto-Black.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBlackItalic";
    src: local("RobotoBlackItalic"), url("./fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: local("RobotoBold"), url("./fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBoldItalic";
    src: local("RobotoBoldItalic"), url("./fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoItalic";
    src: local("RobotoItalic"), url("./fonts/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: local("RobotoLight"), url("./fonts/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLightItalic";
    src: local("RobotoLightItalic"), url("./fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: local("RobotoMedium"), url("./fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMediumItalic";
    src: local("RobotoMediumItalic"), url("./fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"), url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoThin";
    src: local("RobotoThin"), url("./fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoThinItalic";
    src: local("RobotoThinItalic"), url("./fonts/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Barcode39Regular";
    src: local("Barcode39Regular"), url("./fonts/LibreBarcode39-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Barcode39Text";
    src: local("Barcode39Text"), url("./fonts/LibreBarcode39Text-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Barcode128Regular";
    src: local("Barcode128Regular"), url("./fonts/LibreBarcode128-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Barcode128Text";
    src: local("Barcode128Text"), url("./fonts/LibreBarcode128Text-Regular.ttf") format("truetype");
    font-weight: normal;
}
